*{
    font-family: 'Roboto Regular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

.right{
    text-align: center;
    color:rgb(1, 211, 1);
}

.FindWords{
    text-align: center;
}

.FindWords span{
    color: red;
}